<h1>予定一覧</h1>

<div>
  <table class="table content_list">
    <tr>
      <thead>
        <th>番号</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th></th>
      </thead>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <tbody>
          <td><%= event.id %></td>
          <td><%= event.title %></td>
          <td><%= event.start %></td>
          <td><%= event.end %></td>
          <td><%= link_to "編集する", "/events/#{event.id}/edit" %></td>
        </tbody>
      </tr>
    <% end %>
  </table>
</div>