<!DOCTYPE html>
<html>
  <head>
    <title>CalendarSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <ul>
          <li><%= link_to("カレンダー", "/") %></li>
          <li><%= link_to "新たな予定", new_event_path %></li>
          <li><%= link_to "予定リスト", events_list_path %></li>
        </ul>
      </div>
    </header>
    <main class="main_content">
      <%= yield %>
    </main>
  </body>
</html>
